:root.theme-dark {
  --bg-page-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decorated-zone-color: #FF0070;
  --title-color: #FF0070;
  --focus-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --font-color-article-text: #F1B2CE;
  --theme-switcher-display: inline-flex;
}