/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-page-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  gap: var(--page-gap, 40px);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  inline-size: 100%;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
  padding: var(--adaptive-padding, 10px);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  left: var(--adaptive-padding, 10px);
  bottom: var(--adaptive-padding, 10px);
  border-inline-start:  1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  right: var(--adaptive-padding, 10px);
  top: var(--adaptive-padding, 10px);
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
}

.rec {
  position: absolute;
  top: 10px;
  right: 20px;
  display: var(--theme-switcher-display);
  align-items: center;
  gap: 10px;
  font-family: var(--main-font-family), monospace;
  font-size: 1em;
  font-weight: normal;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--decorated-zone-color);
}

.rec::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--decorated-zone-color);
  box-shadow: 0 0 0.3em 0.2em var(--decorated-zone-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.header__theme-menu-button {
  display: block;
  appearance: none;
  min-block-size: 26px;
  min-inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  font-size: 1em;
  color: var(--decorated-zone-color);
  line-height: 1em;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(from var(--decorated-zone-color) r g b / 0.4);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-zone-color);
  pointer-events: none;
}

.focus {
  font-family: var(--main-font-family), monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--focus-color);
  }

.header__no-focus {
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
}

.header__title {
  font-family: var(--main-font-family), monospace;
  font-size: 1em;
  line-height: 23.4px;
  white-space: pre-line;
  align-self: center;
  justify-self: end;
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: var(--main-gap, 50px);
  justify-content: center;
  align-items: center;
  padding: 0 var(--adaptive-padding, 10px);
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: var(--inside-sections-gap, 20px);
  font-family: var(--main-font-family), monospace;
  font-size: 1em;
  line-height: 23.4px;
}

.main__section-title {
  color: var(--title-color);
  font-weight: bold;
}

.main__article {
  display: grid;
  gap: 20px;
}

.main__article-text {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
}

.main__subarticle-title,
.main__paragraph {
  font-weight: normal;
}

.main__section-advice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: var(--inside-sections-gap, 20px);
}

.main__paragraph {
  color: var(--font-color-article-text);
}

.link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--font-color-article-text);
}

.link:hover {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.gallery h3 {
  margin-block-end: var(--gallery-margin);
}

.gallery__pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pictures {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  block-size: 100vh;
  inline-size: 100%;
  min-block-size: 668px;
  margin-block-end: 0;
}

.footer__focus {
  text-shadow: 2px 2px 0 var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 375px) {
  .header__title {
    max-inline-size: 355px;
  }
}

@media (width >= 375px) and (width <= 768px) {
  .header__title {
    max-inline-size: 364px;
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .header__title {
    max-inline-size: 491px;
  }
}

@media (width >= 768px) {
  :root {
    --page-gap: 60px;
    --adaptive-padding: 20px;
    --main-gap: 80px;
    --gallery-margin: 20px;
  }

  .decorated-zone {
    position: relative;
    padding: var(--adaptive-padding, 20px);
  }

  .decorated-zone::before,
  .decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
  }

  .decorated-zone::before {
    left: var(--adaptive-padding, 20px);
    bottom: var(--adaptive-padding, 20px);
  }

  .decorated-zone::after {
    right: var(--adaptive-padding, 20px);
    top: var(--adaptive-padding, 20px);
  }

  .rec {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .header__no-focus {
    margin-inline-start: -20px;
  }

  .header__title {
    max-inline-size: 50%;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .main__section-influence .main__section-title {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .main__section-influence .main__article-text {
    grid-column: 1 / -1;
  }

  .gallery__pictures {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .pictures {
    box-sizing: border-box;
  }

  .pictures:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .pictures:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .pictures:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .pictures:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .pictures:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

@media (width >= 1024px) {
    :root {
      --page-gap: 60px;
      --adaptive-padding: 20px;
      --main-gap: 80px;
      --gallery-margin: 20px;
      --inside-sections-gap: clamp(10px, calc(10px + ((100vw - 375px) * (10 / (1024 - 375)))), 20px);
    }

    .header {
      min-block-size: 768px;
    }

    .header__theme-menu {
      align-self: start;
      justify-self: center;
    }

    .header__theme-menu-list {
      display: flex;
      flex-direction: row;
    }

    .header__no-focus {
      margin-inline-start: -20px;
    }

    .focus {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__title {
      max-inline-size: 50%;
    }

    .main__section-reasons {
      gap: 10px;
    }

    .main__section-influence {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: min-content 1fr;
    }

    .main__section-influence .main__section-title {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    .main__section-influence .main__article-text:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    .main__section-influence .main__article-text:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 2;
    }

    .main__section-influence .main__article-text:nth-child(4) {
      grid-column: 3 / -1;
      grid-row: 2;
    }

    .main__section-advice {
      margin-inline-start: -7px;
    }

    .footer {
      min-block-size: 768px;
    }
  }