/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-page-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: 10px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  left: 0px;
  bottom: calc(var(--corner-inset) + 10px);
  border-inline-start:  1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  right: 0px;
  top: 0px;
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
}

footer.decorated-zone::before {
  left: 0px;
  bottom: var(--corner-inset);
}

footer.decorated-zone::after {
  right: 0px;
  top: var(--corner-inset);
}

/*@media (prefers-color-scheme: light) {*/
/*  .decorated-zone::before,*/
/*  .decorated-zone::after {*/
/*    display: none;*/
/*  }*/
/*}*/


.header {
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  block-size: 100svh;
  inline-size: 100%;
  min-block-size: 668px;
  align-content: stretch;
}

.rec {
  position: absolute;
  top: 0%;
  right: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: 'IBM Plex mono', monospace;
  font-size: 1em;
  font-weight: normal;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--decorated-zone-color);
}

.rec::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--decorated-zone-color);
  box-shadow: 0 0 0.3em 0.2em var(--decorated-zone-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.header__theme-menu-button {
  display: block;
  appearance: none;
  min-block-size: 26px;
  min-inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  font-size: 1em;
  color: var(--decorated-zone-color);
  line-height: 1em;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button:focus-visible {
  border: 2px dotted var(--focus-visible-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(from var(--decorated-zone-color) r g b / 0.4);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-zone-color);
  cursor: pointer;
}

.focus {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--focus-color);
  }

.header__no-focus {
  margin-block-start: 65px;
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: start;
}

.header__title {
  margin-block-start: 55px;
  font-family: 'IBM Plex mono', monospace;
  font-size: 1em;
  line-height: 23.4px;
  white-space: pre-line;
  display: grid;
  grid-template-columns: minmax(min-content, 355px);
  justify-self: end;
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: 50px;
  margin-block-start: 9%;
}

.main__section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);

}

.main__article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: 20px;
}

.main__title,
.main__subtitle-extra,
.main__subtitle-mini,
.main__paragraph {
  font-family: 'IBM Plex mono', monospace;
  font-size: 1em;
  line-height: 23.4px;
}

.main__title {
  color: var(--accent-color);
  font-weight: bold;
}

.main__article-part,
.main__article-part-mini {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.main__article-part-mini:not(:first-of-type) {
  margin-block-start: 10px;
}

.main__subtitle-extra,
.main__subtitle-mini {
  color: var(--accent-text-color);
}

.main__subtitle-extra {
  font-weight: bold;
  margin-block-end: 10px;
}

.main__subtitle-mini,
.main__paragraph {
  font-weight: normal;
}

.main__paragraph {
  color: var(--font-color-article-text);
}

.link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.link:focus {
  border: 1px solid var(--font-color-article-text);
}

.link:focus-visible {
  outline: none;
  border: 2px dotted var(--focus-visible-color);
}

.link:hover {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.main__article > p:has(+p) {
  margin-block-end: 10px;
}

.gallery h3 {
  margin-block-end: 10px;
}

.gallery__pictures {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pictures {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__pictures-street {
  margin-block-end: 40px;
}

.footer {
  display: grid;
  block-size: 100svh;
  inline-size: 100%;
  min-block-size: 668px;
  align-content: stretch;
}

.footer__focus {
  text-shadow: 2px 2px 0 var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

