/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-page-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: var(--adaptive-paddings);
  display: grid;
  gap: var(--page-gap, 40px);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 98vh;
  inline-size: 100%;
  min-block-size: 658px;
  padding-block-end: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  left: 0;
  bottom: var(--corner-inset);
  border-inline-start:  1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  right: 0;
  top: 0;
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
}

footer.decorated-zone::after {
  right: 0;
  top: var(--corner-inset);
}

.rec {
  position: absolute;
  top: 0;
  right: 0;
  display: var(--theme-switcher-display);
  align-items: center;
  justify-content: end;
  margin-inline-end: var(--corner-inset);
  gap: 10px;
  font-family: var(--main-font-family), monospace;
  font-size: 1em;
  font-weight: normal;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--decorated-zone-color);
}

.rec::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--decorated-zone-color);
  box-shadow: 0 0 0.3em 0.2em var(--decorated-zone-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.header__theme-menu-button {
  display: block;
  appearance: none;
  min-block-size: 26px;
  min-inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  font-size: 1em;
  color: var(--decorated-zone-color);
  line-height: 1em;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(from var(--decorated-zone-color) r g b / 0.4);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-zone-color);
  pointer-events: none;
}

.focus {
  font-family: var(--main-font-family), monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--focus-color);
  }

.header__no-focus {
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
}

.header__title {
  font-family: var(--main-font-family), monospace;
  font-size: 1em;
  line-height: 23.4px;
  white-space: pre-line;
  align-self: center;
  justify-self: end;
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: var(--main-gap, 50px);
  justify-content: center;
  align-items: center;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: var(--inside-sections-gap, 20px);
  font-family: var(--main-font-family), monospace;
  font-size: 1em;
  line-height: 23.4px;
}

.main__section-title {
  color: var(--accent-color);
  font-weight: bold;
}

.main__article-text {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
}

.main__subarticle-title,
.main__paragraph {
  font-weight: normal;
}

.main__section-advice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, auto);
  gap: var(--inside-sections-gap, 20px);
}

.main__paragraph {
  color: var(--font-color-article-text);
}

.link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--font-color-article-text);
}

.link:hover {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

/*.gallery {*/
/*  margin-block-end: 40px;*/
/*}*/
.gallery h3 {
  margin-block-end: 10px;
}

.gallery__pictures {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pictures {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__pictures-street {
  margin-block-end: 40px;
}

.footer {
  display: grid;
  block-size: 100svh;
  inline-size: 100%;
  min-block-size: 668px;
  align-content: stretch;
}

.footer__focus {
  text-shadow: 2px 2px 0 var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 375px) {
  .header__title {
    max-inline-size: 355px;
  }
}

@media (width >= 375px) and (width <= 768px) {
  .header__title {
    max-inline-size: 364px;
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .header__title {
    max-inline-size: 491px;
  }
}

@media (width >= 768px) {
  :root {
    --page-gap: 60px;
    --adaptive-paddings: 20px;
    --corner-inset: 20px;
    --main-gap: 80px;
  }

  .header {
    min-block-size: 1004px;
    padding-block-end: 20px;
  }

  .header__no-focus {
    margin-inline-start: -20px;
  }

  .header__title {
    max-inline-size: 50%;
  }

  .decorated-zone::before {
    left: 0;
    bottom: var(--corner-inset);
    border-inline-start:  1px solid var(--decorated-zone-color);
    border-block-end: 1px solid var(--decorated-zone-color);
  }

  .decorated-zone::after {
    right: 0;
    top: 0;
    border-inline-end: 1px solid var(--decorated-zone-color);
    border-block-start: 1px solid var(--decorated-zone-color);
  }


  .main__section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .main__article {
    display: grid;
    grid-template-columns: fit-content(minmax (min-content, max-content));
    grid-template-rows: 1fr 1fr;
  }


}