:root {
  --bg-page-image: url(../images/cover-image.png);
  --bg-color: #000028;
  --decorated-zone-color: #FF0070;
  --corner-inset: 10px;
  --focus-color: #DB00FF;
  --accent-color: #FF0070

}

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
