:root {
  --bg-page-image: url(../images/cover-image-dark.png);
  --page-gap: 40px;
  --bg-color: #000028;
  --decorated-zone-color: #FF0070;
  --title-color: #FF0070;
  --focus-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --font-color-article-text: #F1B2CE;
  --main-font-family: 'IBM Plex mono';
  --font-size: 18px;
  --adaptive-padding: 10px;
  --main-gap: 50px;
  --inside-sections-gap: 20px;
  --gallery-margin: 10px;
  --theme-switcher-display: inline-flex;
}


/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
